:host {
    width: 100%;
    height: 100%;
    background-color: #9dc1e4;
    table {
        font-size: 12px;
        padding: 10px;
        margin: 10px 0;
        width: 100%;
        thead th {
            text-align: left;
            border-bottom: 1px solid gray;
        }
        td.fail {
            font-weight: bold;
            background-color: rgb(255, 112, 112);
        }
        td.warning {
            font-weight: bold;
            background-color: rgb(255, 248, 155);
        }
        td {
            padding: 3px;
            width: 16.66666%;
            font-size: 11px;
            span {
                font-size: 11px;
            }
            button {
                font-size: small;
            }
        }
    }
}