<h2>Transfer</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Origin</th>
            <th>Size</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tr *ngFor="let item of transferUI">
        <td>
            {{item.name}}
        </td>
        <td>
            {{getOrigin(item.origin)}}
        </td>
        <td>
            {{item.fileSize}}<span *ngIf="item.status !== 0">MB</span>
        </td>
        <td [ngClass]="{'fail': item.status === 1, 'warning':item.status === 0 }">
            {{getStatus(item.status)}}
        </td>
        <td>
            <button (click)="remove(item)" *ngIf="item.status === 0">Remove</button>
            <button (click)="retry(item)" *ngIf="item.status === 1">Retry</button>
        </td>
    </tr>
</table>