<div id="container">
    <div>
        <H2> Workspace</H2>
        <p>Clicks counter: {{clicks}}</p>
        <p id="isPaused" [style.background]="isImportPaused? 'red': 'green'">Paused: {{isImportPaused}}</p>
    </div>

    <div id="buttons">
        <button (click)="pauseImport()" id="pauseImport">Pause</button>
        <button (click)="importFile(1)" id="btnImport">Import file</button>
        <button (click)="importFile(50)" id="btnImport">Import file 50</button>
        <button (click)="importFile(1, false)" id="btnImport">Import unsupported</button>
    </div>

    <div class="workspace">
        <div class="panel" *ngFor="let panel of panels" [style.background]="panel.color">
            <div class="thumbnail">
                <span>Name:{{panel.fileName}}</span>
                <span>AssetId: {{panel.assetId}}</span>
            </div>

        </div>
    </div>
</div>