<div id="container">
    <div>
        <H2>Workspace</H2>
        <p>Clicks counter: {{clicks}}</p>
        <p id="isPaused" [style.background]="isImportPaused? 'red': 'green'">Paused: {{isImportPaused}}</p>
    </div>

    <div id="buttons">
        <button (click)="pauseImport()" id="pauseImport" [innerHTML]="isImportPaused? 'UnPause': 'Pause' "></button>
        <button (click)="importFile(1)" id="btnImport">Import file</button>
        <button (click)="importFile(15)" id="btnImport">Import file 15</button>
        <button (click)="importFile(1, false)" id="btnImport">Import unsupported</button>
    </div>

    <div class="workspace">
        <div class="panel" *ngFor="let panel of panels" [style.background]="panel.color" [ngClass]="{'fail': panel.status === 0}">
            <div class="thumbnail">
                <button *ngIf="panel.status === 0" class="retry">X</button>
                <span class="name">{{panel.fileName}}</span>
                <span class="assetId">AssetId: {{panel.assetId}}</span>
            </div>

        </div>
    </div>
</div>