:host {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    #buttons {
        align-self: flex-end;
    }
}

div.panel {
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 1rem;
    display: inline-block;
    border: 1px solid gray;
    margin: 2px;
    font-size: 10px;
    span {
        font-size: 12px;
        display: block;
    }
}

.workspace {
    min-height: 100px;
    margin: 10px 0;
    width: 100%;
    border-top: 1px solid gray;
}

#isPaused {
    display: block;
    width: 117px;
    padding: 10px;
}