:host {
    width: 100%;
}

#container {
    display: flex;
    flex-direction: column;
}

#buttons {
    align-self: flex-end;
    button {
        margin: 0 2px;
    }
}

.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    span {
        display: block;
        font-weight: bold;
        padding: 10px;
        font-size: 14px;
    }
    .retry {
        display: block;
        height: 25px;
        width: 25px;
        border: 1px solid red;
        padding: 0;
        margin: 0;
        line-height: 33px;
    }
}

div.panel {
    height: 100px;
    width: 100px;
    text-align: center;
    line-height: 1rem;
    display: inline-block;
    border: 1px solid gray;
    margin: 2px;
    font-size: 10px;
    span {
        font-size: 12px;
        display: block;
    }
}

.fail {
    // background-color: red !important;
    opacity: 0.5;
}

.workspace {
    min-height: 100px;
    margin: 10px 0;
    width: 100%;
    border-top: 1px solid gray;
}

#isPaused {
    display: block;
    width: 117px;
    padding: 10px;
}