:host {
    display: flex;
    flex-direction: row;
    #main {
        width: 60%;
        align-items: stretch;
    }
    #side {
        width: 40%;
        align-items: stretch;
        border: 1px solid teal;
    }
}